<% layout("/layouts/boilerplate") %>

  <body>
    <h3>All Listings</h3>


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(listing of alllistings){ %>
        <a href="/listings/<%=listing._id%>" class="listing-link">
          <div class="card col listing-card">
            <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_img" style="height:20rem">

            <div class="card-img-overlay"></div>

            <div class="card-body">
              <p class="card-text"><b>
                  <%= listing.title %>
                </b>
                <br>
               &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>





    <!-- <% layout("/layouts/boilerplate") %>

<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <% alllistings.forEach(listing => { %>
      <div class="col">
        <a href="/listings/<%= listing._id %>" class="listing-link" style="text-decoration: none; color: inherit;">
          <div class="card h-100">

            <% if (listing.image && listing.image.url) { %>
              <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img" style="height:20rem;">
            <% } else if (listing.image) { %>
              <img src="<%= listing.image %>" class="card-img-top" alt="listing_img" style="height:20rem;">
            <% } else { %>
              <img src="https://via.placeholder.com/300x200.png?text=No+Image" class="card-img-top" alt="default_img" style="height:20rem;">
            <% } %>

            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <p class="card-text">
                &#8377;<%= listing.price.toLocaleString("en-IN") %><br>
                <%= listing.location %>, <%= listing.country %>
              </p>
            </div>
          </div>
        </a>
      </div>
    <% }); %>

  </div>
</div> -->