<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>edit listings</h3>
    <form  method="post" action="/listings/<%=EditList._id%>?_method=PUT"><br><br>

        <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" value="<%=EditList.title%>"  class="form-control">    
      </div>

      
       <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="description" class="form-control"><%=EditList.description%></textarea>
      </div>

      <div class="mb-3">
      <label for="image" class="form-label">Image Link</label>
      <input type="text" name="image" value="<%=EditList.image%>"  class="form-control"> 
      </div>


      <div class="row">
         <div class="mb-3 col-md-4">
      <label for="price" class="form-label">Price</label>
      <input type="text" name="price" value="<%=EditList.price%>" class="form-control">    
      </div>

    
      <div class="mb-3 col-md-8 ">
      <label for="country" class="form-label">Country</label>
      <input type="text" name="country" value="<%=EditList.country%>" class="form-control">
      </div>
      </div>

      <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input type="text" name="location" value="<%=EditList.location%>" class="form-control">    
      </div>


        <button class="btn btn-dark edit-btn mt-3">Submit</button>
    </form>
    </div>
</div>
<!-- 
<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit Listing</h3>

    <form method="POST" action="/listings/<%= EditList._id %>?_method=PUT">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" value="<%= EditList.title %>">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" class="form-control"><%= EditList.description %></textarea>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          type="text"
          name="image"
          class="form-control"
          value="<%= EditList.image && EditList.image.url ? EditList.image.url : (EditList.image || '') %>">
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input type="text" name="price" class="form-control" value="<%= EditList.price %>">
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input type="text" name="country" class="form-control" value="<%= EditList.country %>">
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="location" class="form-control" value="<%= EditList.location %>">
      </div>

      <button class="btn btn-dark mt-3">Update</button>
    </form>
  </div>
</div> -->
